
.main-content{
	width: 80%;
	background-color: #fff;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	height: 585px;
	box-shadow: 0 3px 3px -2px gray;

}

.between{
	margin-bottom: 0px;
}



